.product
  margin-left:  $C_MarginLeft;
  margin-right: $C_MarginRight;
  margin-top: 120px;
  .header
    margin-top: -50px;

.product-image
  width: 50%;
  height: 50%;

.product-label
     h2
        font-family: 'Roboto', sans-serif
        font-weight: 400;
        font-style: italic;

     border-right: solid 1px #003366;
